# dependencies
node_modules
/.pnp
.pnp.js

# testing
/coverage

# next.js
.next/
out/
build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*
*.log

# env files (can be uncommented if needed, but we removed .env.example)
.env*.local
.env
.env.development
.env.test
.env.production

# typescript
*.tsbuildinfo
next-env.d.ts
